<!DOCTYPE html>
<html ng-app="moviesApp">
  <head>
    <meta charset="utf-8">
    <title> MVC angular</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="style.css" media="screen" title="no title">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" charset="utf-8"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-route.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-cookies.js" charset="utf-8"></script>
  </head>

  <body ng-controller="controller">
    <header class="jumbotron">
      <div class="container">
        <h2>Angular MVC</h2>
      </div>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <input type="text" id="movieInput" class="form-control" placeholder="Add movie..." ng-model="movieToAdd">
            <div class="input-group-btn">
              <button class="btn btn-success" ng-click="add() ">Add</button>
            </div>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div class="col-md-6">
          <div class="container">
            <ul>
              <li ng-repeat="movie in movies">
                  {{movie}}
              </li>
            </ul>
          </div>
        </div>
    </div>
  </div>
    <script src="app.js" charset="utf-8"></script>
    <script src="controller/controller.js" charset="utf-8"></script>
  </body>
</html>
